# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/

# Environment files
backend/.env
frontend/.env

# Node
frontend/node_modules/

# Git
.git/
.gitignore

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
docker/*.log