.password-toggle {
    border: none;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    color: var(--text-light);

    font-size: 18px;

    transition: color 0.3s ease;
}

.password-toggle:hover {
    color: var(--primary);
}