.faq{

padding:120px 8%;

}

.faq__header{

text-align:center;

max-width:700px;

margin:0 auto 60px;

}

.faq__header h2{

font-size:42px;

margin-bottom:20px;

color:var(--text);

}

.faq__header p{

color:var(--text-light);

line-height:1.8;

}

.faq__container{

max-width:900px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}

.faq__item{

border:1px solid var(--border);

border-radius:18px;

background:var(--surface);

overflow:hidden;

transition:.3s;

}

.faq__question{

width:100%;

padding:24px;

display:flex;

justify-content:space-between;

align-items:center;

background:none;

border:none;

cursor:pointer;

font-size:18px;

font-weight:600;

color:var(--text);

}

.faq__question svg{

transition:.3s;

}

.faq__answer{

max-height:0;

overflow:hidden;

transition:max-height .35s ease;

}

.faq__answer p{

padding:0 24px 24px;

line-height:1.8;

color:var(--text-light);

}

.faq__item.active .faq__answer{

max-height:200px;

}

.faq__item.active .faq__question svg{

transform:rotate(180deg);

}
@media(max-width:576px){

.faq{

padding:80px 20px;

}

.faq__header h2{

font-size:32px;

}

.faq__question{

font-size:16px;

padding:20px;

}

}